.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.extracted-data-container {
  overflow-y: auto; /* Add vertical scrollbar if content overflows vertically */
  max-height: 500px; /* Set the maximum height of the container */
  display: flex;
  flex-direction: column; /* Display the items in a vertical layout */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-input {
}

.skill-img {
  width: 15rem;
}

.login-text {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@keyframes slide-in-out {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.selected-menu {
  background: linear-gradient(to right, #1c5a41 50%, transparent 50%);
  background-size: 200% 100%;
  animation: slide-in-out 1.5s ease-in-out;
  color: white;
}

/* @media only screen and (max-width: 1000px) {
    .
  } */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
