.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.extracted-data-container {
  overflow-y: auto;
  max-height: 300px;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.intern-detail {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  min-height: 350px;
}

.attendance-detail {
  max-width: auto;
  max-height: 400px;
  min-height: 400px;
}

.attendance-table-head th {
  background-color: #112130 !important;
}

.intern-detail-table th {
  background-color: #112130 !important;
}

.App-link {
  color: #61dafb;
}

.skill-img {
  width: 15rem;
}

.login-text {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@keyframes slide-in-out {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.custom-tab:hover {
  color: darkorange;
}

.confirm-button:hover {
  background-color: orangered;
}

.custom-input {
  padding-left: 2.2rem;
}

.custom-input:focus {
  border-color: #ffa500;
  outline: none;
}

.custom-cancel:hover {
  background-color: #ffffe9;
}

.selected-menu {
  background: linear-gradient(to right, #1c5a41 50%, transparent 50%);
  background-size: 200% 100%;
  animation: slide-in-out 1.5s ease-in;
  color: white;
}

.text-dark-orange {
  color: #ff4500; /* Hexadecimal notation for a darker shade of orange */
}

.border-b-2 {
  border-bottom-width: 2px;
}

.fixed-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  width: 20%;
  background-color: white;
  z-index: 1000; /* Ensure it stays on top */
}

.main-content {
  margin-left: 20%;
  width: 80%;
  background-color: #f5f5f5;
}

.selected-menu {
  background-color: #1c5a41; /* Assuming this is the highlight color */
}

.border-dark-orange {
  border-color: #ff4500; /* Hexadecimal notation for a darker shade of orange */
}

/* @media only screen and (max-width: 1000px) {
  .
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
