table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}
.attendance {
  margin: 10px 0px;
}

.attendance .attendance-title {
  color: #4d4e50;
  font-size: 30px;
}

.attendance .table {
  margin: 30px 0px;
}
